@model IEnumerable<Models.Models.Item>


@{
    ViewData["Title"] = "Items List";
}

<h2>Items List</h2>

<a asp-action="Upsert" asp-route-id="0" class="btn btn-success mb-3">Create New Item</a>

<table class="table table-bordered">
    <thead>
        <tr>
            <th>Name</th>
            <th>Description</th>
            <th>Condition</th>
            <th>Quantity</th>
            <th>Starting Price</th>
            <th>Category</th>
            <th>Status</th>
            <th>Image</th>
            <th>Actions</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>@item.Name</td>
                <td>@item.Description</td>
                <td>@item.Condition</td>
                <td>@item.Quantity</td>
                <td>$@item.StartingPrice</td>
                <td>@item.Category?.Name</td>
                <td>@item.Status</td>
                <td>
                    @if (!string.IsNullOrEmpty(item.ImageUrl))
                    {
                        <img src="@item.ImageUrl" width="100" height="100" />
                    }
                </td>
                <td>
                    <a asp-action="Upsert" asp-route-id="@item.Id" class="btn btn-primary btn-sm">Edit</a>
                    <a asp-action="Delete" asp-route-id="@item.Id" class="btn btn-danger btn-sm">Delete</a>
                    
                </td>
            </tr>
        }
    </tbody>
</table>
