@using Models.ViewModels
@model IEnumerable<ItemVM>


@{
    ViewData["Title"] = "Items List";
}

<h2>Items List</h2>

<a asp-action="Upsert" asp-route-id="0" class="btn btn-success mb-3">Create New Item</a>

<table class="table table-bordered">
    <thead>
        <tr>
            <th>Name</th>
            <th>Description</th>
            <th>Condition</th>
            <th>Quantity</th>
            <th>Starting Price</th>
            <th>Category</th>
            <th>Status</th>
            <th>Image</th>
            <th>Actions</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>@item.Item.Name</td>
                <td>@item.Item.Description</td>
                <td>@item.Item.Condition</td>
                <td>@item.Item.Quantity</td>
                <td>$@item.Item.StartingPrice</td>
                <td>@item.Item.Category.Name</td>
                <td>@item.AuctionStatus</td>

                <td>
                    @if (!string.IsNullOrEmpty(item.Item.ImageUrl))
                    {
                        <img src="@item.Item.ImageUrl" width="100" height="100" />
                    }
                </td>
                <td>
                    <a asp-action="Upsert" asp-route-id="@item.Item.Id" class="btn btn-primary btn-sm">Edit</a>
                    <a asp-action="Delete" asp-route-id="@item.Item.Id" class="btn btn-danger btn-sm">Delete</a>
                    
                </td>
            </tr>
        }
    </tbody>
</table>
